# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/target/
/out/
/ivy/
/.idea/
/.ipynb_checkpoints/example-checkpoint.ipynb
/.ipynb_checkpoints/demo-djl-checkpoint.ipynb
